---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Daukaia - who we are">
	<main>
		<div class="container">
			<p>Who we are</p>
		</div>
	</main>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
	}
	
	.hero {
		height: 720px;
		background-image: 
			url("/images/girl-drawing-gradient.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom 0 right 0;
	}
	.hero-message {
		color: #ffffff;
	}

	p {
		font-size: 58px;
		font-weight: bold;
		line-height: 76px;
	}
	.underlined {
		position: relative;
		width: fit-content;
		z-index: 12;
		display: inline-block;
	}

	.underlined::after {
		content: "";
		position: absolute;
		height: 10px;
		width: 100%;
		background-color: hsl(var(--accent));
		z-index: -1;
		bottom:9px;
		left: 0;
	}
	
	.mission p {
		font-size: 20px;
		line-height: 1.5em;
		max-width: 60ch;
		margin: 2rem 0 3rem;
	}

	.container {
		margin: auto;
		padding: 1rem;
		max-width: 1200px;
		color: #23262d;
		font-size: 20px;
		line-height: 1.6;
	}

	.links {
		display: flex;
		align-items: flex-start;
		gap: 1.5em;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
