---
interface Props {
	text: string;
	href: string;
	classnames: string;
}

const { href, text, classnames } = Astro.props;
---

<button type="button" onclick={href} class:list={["font-bold py-2 px-4 rounded", classnames ]}>
	{text}
</button>
<style>
	button {
		width: fit-content;
		text-transform: uppercase;
		font-size: 1rem;
	}
	.primary {
		color: white;
		background-color: hsl(var(--accent));
	}
	.secondary {
		color: hsl(var(--accent));
		background-color: #ffffff;
	}
</style>
