---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--neutral: 0, 0%, 100%;
		--primary: 170, 100%, 35%;
		--accent: 342, 91%, 66%;
		--accent-light: 353, 95%, 85%;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			90deg,
			hsl(var(--accent)),
			hsl(var(--accent-light)) 30%,
			white 60%,
		);
	}
	html {
		font-family: Arial, Helvetica, sans-serif;
	}
	body {
		border: 1px solid #d6d6d6;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
</style>
